.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20vh 1fr 30vh; /* Adjust heights as needed */
  grid-template-areas:
    "header header header"
    "mainContent mainContent mainContent"
    "footer footer footer";
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.mainContent {
  grid-area: mainContent;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding: 6rem;
}

.footer {
  grid-area: footer;
}

/* Add the following if needed for individual styling of Header, ChatBotMain, and Footer */
.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
